.banner-container {
  height: 111px;
  //@include small-redius;

  border-radius: 10px;;
  //@include flex-banner;

  position: relative;
  //@include flex-center;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  //@include bkgrd($banner-background);

  background-blend-mode: darken;
  background: rgba(0, 0, 0, 0.3) url(../../../assets/images/background-banner.png) no-repeat;
  background-size: cover;

  margin-top: 20px;


  //@media screen and (min-width: $breakpoint-desktop) {
  //  height: 223px;
  //  @include big-redius;
  //  @include flex-banner;
  //}

  @media screen and (min-width: 769px) {
    height: 223px;
    //@include big-redius;
    border-radius: 25px;

    //@include flex-banner;
    position: relative;
    //@include flex-center;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    //@include bkgrd($banner-background);
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.3) url(../../../assets/images/background-banner.png) no-repeat;
    background-size: cover;

    margin-top: 20px;
  }
}

.banner-text {
  position: absolute;
  top: 28.04%;
  left: 5.6%;
  right: 32.53%;
  bottom: 80.05%;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  //color: $tertiary-color;
  color: #ffffff;
  //@include small-redius;
  border-radius: 10px;
  width: 217px;
  height: 48px;

  //@media screen and (min-width: $breakpoint-desktop) {
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  @include flex-center;
  //  @include WH-full;
  //  @include font(48px, 500);
  //  @include big-redius;
  //}

  @media screen and (min-width: 769px) {
    top: 0;
    left: 0;
    right: 0;

    //@include flex-center;
    display: flex;
    align-items: center;
    justify-content: center;

    //@include WH-full;
    width: 100%;
    height: 100%;

    //@include font(48px, 500);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;

    //@include big-redius;
    border-radius: 25px;
  }
}
