<!--<p>collapse works!</p>-->

<div class="collapse about-style">
      <div
        (click)="toggleState()"
        class="collapse__visible"
      >
        <h2>{{aboutTitle}}</h2>
        <img
        [ngClass]="toggle === false ? 'chevron roted' : 'chevron'"
        src="../../../assets/images/chevron.svg"
        alt="chevron"
        />
      </div>
      <div
          [ngClass]="toggle ? 'collapse__toggle animated' : 'collapse__toggle'"
          [style]="{ height: toggle ? heightEl : '0px'}"
        >

<!--        <p *ngIf="toggle" aria-hidden="true">-->
<!--        {{aboutText}}-->
<!--        </p>-->

<!--        <p *ngIf="!toggle" >-->
<!--          {{aboutText}}-->
<!--        </p>-->
<!--        <li *ngIf="!toggle" class='equipList'>-->
<!--        </li>-->
<!--        <ul *ngIf="!toggle" aria-hidden="false">-->
<!--          <ul *ngFor="let text of aboutText">-->
<!--            <li class='equipList'>-->
<!--              {{text}}-->
<!--            </li>-->
<!--          </ul>-->
<!--&lt;!&ndash;        {{aboutText}}&ndash;&gt;-->
<!--        </ul>-->

      </div>
<!--{/*COLLAPSE*/}-->

<!--  {{aboutText}}-->
</div>
