<p>home works!</p>

<div>
<app-banner></app-banner>
<div class="cards-container">
  <div class="card_logement" *ngFor="let appart of data; let id = index">
    <a href="./logement/{{appart.id}}" class="link_card_logement">
      <app-card [coverCard]="appart.cover" [titleCard]="appart.title"></app-card>
    </a>
  </div>
<!--  {data.map((appart, id) =>(-->
<!--                    <div className="card_logement" key={id}>-->
<!--  <Link to={`/logement/${appart.id}`} className="link_card_logement" >-->
<!--                            <Card cover={appart.cover} title={appart.title} />-->
<!--                        </Link>-->
<!--                    </div>-->
<!--                ))}-->
</div>
</div>
