<!--<p>fiche-logement works!</p>-->
<section  *ngIf="pickedAppart">
  <div key="params.id" class="fiche-container">
    <div class="gallery-container">
      <app-gallery [slides]="slidePics" > </app-gallery>
    </div>
    <!--    {/*FICHE LOGEMENT*/}-->
    <section class='hostInfo-container'>
      <div class='title-tags-container'>
        <div class='title-container redFont'>
          <h1>{{pickedAppart.title}}</h1>
          <h3>{{pickedAppart.location}}</h3>
        </div>
        <div *ngFor="let tag of tags" class="tags-container" >
          <app-tag [keyFich]="tag" [tagElt]="tag" > </app-tag>
        </div>
      </div>
      <div class='rate-host-container'>
        <div class='host-container redFont'>
          <app-host
            [hostName]="pickedAppart.host.name"
            [hostPicture]="pickedAppart.host.picture"
            [hostId]="pickedAppart.host.id"
          ></app-host>
        </div>
        <div class='rate-container'>
          <app-rate [score]="pickedAppart.rating" ></app-rate>
        </div>
      </div>
    </section>
    <div class="flex-row">
      <div class="collapse-fiche-container" *ngIf="pickedAppart">
        <app-collapse
          [aboutTitle]="description"
          [aboutText]="pickedAppart.description"
        > </app-collapse>
      </div>
      <div class="collapse-fiche-container" *ngIf="pickedAppart">
        <app-collapse
          [aboutTitle]="equipements"
          [aboutText]="equipments"
        ></app-collapse>
      </div>
    </div>
  </div>
</section>
